<div class="mdl-card" style="width: 30%;">

  <%= form_for(input) do |f| %>

    <% if input.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

        <ul>
        <% input.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.number_field :quantity, class: "mdl-textfield__input" %>
          <%= f.label :quantity, "Quantidade", class: "mdl-textfield__label" %>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--8-col">
        <div class ="mdl-textfield mdl-js-textfield getmdl-select">
          <%= f.text_field :user_id_id, id: :user_id_id, class: "mdl-textfield__input" %>
          <%= f.hidden_field  :user_id_id %>
          <label for="user_id_id" class="mdl-textfield__label">Responsável</label>
          <ul for="user_id_id" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            <% User.all.where("role_id != 1").each do |user| %>
              <li class="mdl-menu__item"><%= user.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="mdl-grid" style="padding: 0px;">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col" style="margin:0px;">
          <%= f.submit "Cadastrar", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
      </div>
    </div>
  <% end %>
</div>