<%# <p id="notice"><%= notice %>
<div class="mdl-card ssc_card">
  <div class="mdl-grid">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class= "mdl-data-table__cell--non-numeric">Nome</th>
          <th class= "mdl-data-table__cell--non-numeric">Endereço</th>
          <th class= "mdl-data-table__cell--non-numeric">Secretaria</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sectors.each do |sector| %>
        <%# <tr data-link="sectors/<%=sector.id>"> %>
        <tr>
          <td><%= sector.name %></td>
          <td><%= sector.address %></td>
          <td><%= sector.secretary.name %></td>
          <td><%= link_to 'Editar', edit_sector_path(sector), class: "mdl-button mdl-js-button mdl-button--primary" %></td>
          <td><%= link_to 'Excluir', sector, method: :delete, data: { confirm: 'Tem certeza?' }, class: "mdl-button mdl-js-button mdl-button--primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="mdl-typography--text-right fixed-action-btn tooltipped">
  <%= link_to new_sector_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored", method: :get do %>
    <i id="add"class="material-icons">add</i>
    <div class="mdl-tooltip mdl-tooltip--large" for="add">
      Novo Setor
    </div>
  <% end %>
</div>