<%# <p id="notice"><%= notice %></p>

<div style="text-align: right;">
<%= link_to 'Editar', edit_sector_path(@sector) %> |
<%= link_to 'Voltar', sectors_path %>
</div>
<div style="text-align: center;">
<h3><%= @sector.name %></h3>
</div>
<p>
  <strong>Endereço:</strong> <%= @sector.address %>
</p>
<p>
  <strong>Secretaria:</strong>
  <%= @sector.secretary.name %>
</p>