<div class="container">
  
  <%= form_with(model: item, local: true) do |f| %>

    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card">
      <div class="card-content">
          <div class="row">
            <div class="input-field col s3"> 
              <%= f.number_field :code %>
              <%= f.label :code, "Código" %>
            </div>
            <div class="input-field col s3"> 
              <%= f.label :patrimony, "Patrimônio" %>
              <%= f.number_field :patrimony %>
            </div>
            <div class="input-field col s6"> 
              <%= f.label :name, "Nome" %>
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :description, "Descrição" %>
              <%= f.text_field :description %>
            </div>
          </div>

          <div class="row select_item_row">
            <div class="input-field col s6">
              <%= f.collection_select(:type_id, Type.all, :id, :description, include_blank: true) %>
              <%= f.label :type_id, "Tipo" %>
            </div>
        
            <div class="input-field col s6"> 
              <%= f.collection_select(:sector_id, Sector.all, :id, :name, include_blank: true) %>
              <%= f.label :sector_id, "Setor" %>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12"> 
              <%= f.collection_select(:user_id, User.all.where(role_id: 4), :id, :name, include_blank: true) %>
              <%= f.label :user_id, "Responsável" %>
            </div>
          </div>
    
          <div class="row">
            <div class="col s3" style='margin-top: 36px;'>
              <%= f.check_box :rent, id: "rent" %>
              <%= f.label "Alugado?", for: "rent", id: "rent" %>
            </div>
          <div class="input-field col s9">
            <%= f.collection_select(:enterprise_id, Enterprise.all, :id, :name, include_blank: true) %>
            <%= f.label :enterprise_id, "Empresa" %>
          </div>
    </div>
    
    <%= f.hidden_field :quantity, value: 0 %>
    
    <div class="actions center">
      <% if item.new_record? %>
        <%= f.submit "Cadastrar", class:"waves-effect waves-light btn blue-grey darken-1" %>
      <% else %>
        <%= f.submit "Atualizar", class:"waves-effect waves-light btn blue-grey darken-1" %>
      <% end %>
    </div>
  <% end %>
</div>