<%# <p id="notice"><%= notice %>
<div class="mdl-card ssc_card">
  <div class="mdl grid">
    <div class="mdl-cell mdl-cell--4-col">
      <%= form_with url: items_path, method: :get, local: true do |f| %>
        <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <%= f.text_field :search, placeholder: "", id: "search", class: "mdl-textfield__input" %>
          </div>
        </div>
      <%# <%= f.submit "Buscar", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
      <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <%= form_with url: items_path, method: :get, local: true do |f| %>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Todos</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Alugados</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
          <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Próprios</span>
        </label>
        <%# <%= f.submit "Buscar", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
      <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
    </div>
  </div>
</div>

<div class="mdl-card ssc_card">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class= "mdl-data-table__cell--non-numeric">Patrimônio</th>
        <th class= "mdl-data-table__cell--non-numeric">Nome</th>
        <th class= "mdl-data-table__cell--non-numeric">Local</th>
        <th class= "mdl-data-table__cell--non-numeric">Responsável</th>
        <th class= "mdl-data-table__cell--non-numeric">Categoria</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td data-link="items/<%=item.id%>"><%= item.patrimony %></td>              
          <td data-link="items/<%=item.id%>"><%= item.name %></td>
          <td data-link="items/<%=item.id%>"><%= item.sector.secretary.name %> - <%= item.sector.name %></td>
          <td data-link="items/<%=item.id%>"><%= item.user.name %></td>
          <td data-link="items/<%=item.id%>"><%= item.category %></td>
          <%# <td><%= link_to 'Mostrar', item, class: "mdl-button mdl-js-button mdl-button--primary" %></td>
          <td><%= link_to 'Entrada', new_input_path(item_id: item), class: "mdl-button mdl-js-button mdl-button--primary" %></td>
          <td><%= link_to 'Saída', new_output_path(item_id: item), class: "mdl-button mdl-js-button mdl-button--primary" %></td>
          <%# <td><%= link_to 'Editar', edit_item_path(item) %></td>
          <%# <td><%= link_to 'Excluir', item, method: :delete, data: { confirm: 'Certeza?' }, class: "mdl-button mdl-js-button mdl-button--primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mdl-typography--text-right fixed-action-btn tooltipped">
  <%= link_to new_item_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored", method: :get do %>
    <i id="add"class="material-icons">add</i>
    <div class="mdl-tooltip mdl-tooltip--large" for="add">
      Novo Item
    </div>
  <% end %>
</div>