<%# <p id="notice"><%= notice %>

<div class="card" style="margin-top: 24px;">
  <div class="card-content">
    <div class="row">
      <%= form_with url: items_path, method: :get, local: true, class: "col s12" do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <%= f.text_field :search, placeholder: "Buscar por nome ou descrição do item", class: "form-control validate", id: "icon_prefix" %>
          </div>
        </div>
        <%# <%= f.submit "Buscar", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored search-button'%>
      <% end %>
      </div>
    <div class="row" style="display: none;">
      <%= form_with url: items_path, method: :get, local: true do |f| %>
          <div class="input-field col s4">
            <%= f.check_box(:all, {}, true, false) %>
            <%= f.label "Todos" %>
          </div>
          <div class="input-field col s4">
            <%= f.check_box(:rent, {}, true, false) %>
            <%= f.label "Alugados" %>
          </div>
          <div class="input-field col s4">
            <%= f.check_box(:patrimony, {}, true, false) %>
            <%= f.label "Próprios" %>
          </div>
          <%# <%= f.submit "Buscar", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Patrimônio</th>
          <th>Nome</th>
          <th>Local</th>
          <th>Responsável</th>
          <th>Categoria</th>
          <th>Saldo</th>
          <%# <th colspan="4"></th> %>
        </tr>
      </thead>
      
      <tbody>
        <% @items.each do |item| %>
          <tr data-link="items/<%=item.id%>">
            <td><%= item.patrimony %></td>          
            <td><%= item.name %></td>
            <td><%= item.sector.name %></td>
            <td><%= item.user.name %></td>
            <td><%= item.category %></td>
            <% if item.quantity > 0 %>
              <td style="color: green;font-weight:bold;">+<%= item.quantity %>
            <% elsif item.quantity == 0 %>
              <td style="font-weight:bold;"><%= item.quantity %>
            <% else %>
              <td style="color: red;font-weight:bold;">-<%= item.quantity %>
            <% end %>
            </td>
            <%# <td><%= link_to 'Mostrar', item, class: "mdl-button mdl-js-button mdl-button--primary" %></td>
            <%# <td><%= link_to 'Entrada', new_input_path(item_id: item) %></td>
            <%# <td><%= link_to 'Saída', new_output_path(item_id: item) %></td>
            <%# <td><%= link_to 'Editar', edit_item_path(item) %></td>
            <%# <td><%= link_to 'Excluir', item, method: :delete, data: { confirm: 'Certeza?' }, class: "mdl-button mdl-js-button mdl-button--primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="fixed-action-btn tooltipped" style="margin-bottom: 36px;">
  <%= link_to new_item_path, class: "btn-floating btn-large waves-effect waves-light blue-grey darken-1", method: :get do %>
    <i id="add"class="material-icons">add</i>
  <% end %>
</div>

<%# waves-effect waves-light btn blue-grey darken-1 %>