<%# <p id="notice"><%= notice %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s5" style="padding-left: unset;">
          <%= link_to qr_code_path(item_id: @item) do %>
            <img src="<%= @img.to_data_url %>"/>
          <% end %>
        </div>
        <div class="col s6" style="margin-top: 24px;">
          <%= @item.category %> <%= @item.code %> - <%= @item.patrimony %> - <%= @item.name %>
          <p>
            Descrição:
            <%= @item.description %>
          </p>
          <p>
            Quantidade:
            <%= @item.quantity %>
            - 
            Tipo:
            <%= @item.type.description %>
          </p>
          <p>
            Setor:
            <%= @item.sector.name %>
          </p>
          <p>
            Responsável:
            <%= @item.user.name %>
          </p>
          <p>
            <% if @item.rent %>
              Empresa:
              <%= link_to enterprise_path(enterprise_id: @item.enterprise_id), class: "mdl-button mdl-js-button mdl-button--primary", style: "margin-top:-1,2px;padding:0;" do %>
                <%= @item.rent_enterprise %>
              <% end %>
            <% else %>
              Alugado:
              <%= @item.rent_option %></p>
            <% end %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <%= link_to 'Entrada', new_inoutput_path(item_id: @item, name: "Entrada"), class: "waves-effect waves-light btn blue-grey darken-1 right" %>
        </div>
        <div class="col s6">
          <%= link_to 'Saída', new_inoutput_path(item_id: @item, name: "Saída"), class: "waves-effect waves-light btn blue-grey darken-1 left" %>
        </div>
      </div>
    </div>
  </div>
  
  <% if @item.inoutputs.count > 0 %>
    <div class="card center">
      <div class="card-content">
        <h4>Histórico</h4>
        <table class="responsive-table highlight">
          <thead>
            <tr>
              <th>-</th>
              <th>Data</th>
              <th>Quantidade</th>
              <th>Local</th>
              <th>Responsável</th>
            </tr>
          </thead>
          <tbody>
            <% @item.inoutputs.each do |h| %>
              <tr>
                <td><%= h.name %></td>
                <td><%= h.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <% if h.name == "Entrada" %>
                <td style="color: green;">+<%= h.quantity %></td>
                <% else %>
                <td style="color: red;">-<%= h.quantity %></td>
                <% end %>
                <td><%= h.sector.name %></td>
                <td><%= h.user.name %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="2" style="text-align:center;">Saldo</td>
              <% if @item.quantity > 0 %>
                <td style="color: green;font-weight:bold;">+<%= @item.quantity %></td>
                <% else %>
                <td style="color: red;font-weight:bold;">-<%= @item.quantity %></td>
                <% end %>
              <td colspan="1"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>