<%# <p id="notice"><%= notice %>
<div class="mdl-card ssc_card">
  <div class="mdl-grid" style="margin: 0;">
    <div class="mdl-cell mdl-cell--3-col">
      <%= link_to qr_code_path(item_id: @item) do %>
        <img src="<%= @img.to_data_url %>"/>
      <% end %>
    </div>

    <div class="mdl-cell mdl-cell--9-col">
      <div class="mdl-grid" style="height: 25%;padding:0;">
      <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="typo-styles__demo mdl-typography--display-1" style="font-weight: 300;" >
              <strong><%= @item.category %></strong> <%= @item.code %> - <%= @item.name %>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <p>
            <strong>Descrição:</strong>
            <%= @item.description %>
          </p>
          <p>
            <strong>Quantidade:</strong>
            <%= @item.quantity %>
            - 
            <strong>Tipo:</strong>
            <%= @item.type.description %>
          </p>
          <p>
            <strong>Patrimônio:</strong>
            <%= @item.patrimony %>
          </p>
        </div>

        <div class="mdl-cell mdl-cell--6-col">
          <p>
            <strong>Setor:</strong>
            <%= @item.sector.name %>
          </p>
          <p>
            <strong>Responsável:</strong>
            <%= @item.user.name %>
          </p>
          <p>
            <strong>Alugado:</strong>
            <%= @item.rent_option %>
            <% if @item.rent %>
               por 
              <%= link_to enterprises_path(enterprise_id: @item.enterprise_id), class: "mdl-button mdl-js-button mdl-button--primary", style: "margin-top:-1,2px;padding:0;" do %>
                <strong><%= @item.rent_enterprise %></strong>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
  <td><%= link_to 'Entrada', new_input_path(item_id: @item), class: "mdl-button mdl-js-button mdl-button--primary" %></td>
  <td><%= link_to 'Saída', new_output_path(item_id: @item), class: "mdl-button mdl-js-button mdl-button--primary" %></td>
  </div>
</div>

<div class="mdl-card ssc_card">
  <div class="typo-styles__demo mdl-typography--display-3" style="margin: 0 auto; font-weight: 300;">Histórico</div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class= "mdl-data-table__cell--non-numeric">-</th>
        <th class= "mdl-data-table__cell--non-numeric">Data</th>
        <th>Quantidade</th>
        <th class= "mdl-data-table__cell--non-numeric">Data</th>
        <th class= "mdl-data-table__cell--non-numeric">Responsável</th>
      </tr>
    </thead>
    
    <tbody>
      <% @item.historic.each do |h| %>
        <tr>
          <td><%= h.name %></td>              
          <td><%= h.created_at %></td>
          <td><%= h.quantity %></td>
          <td><%= h.sector %></td>
          <td><%= h.user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>