<div class="card">
  <div class="card-content">
    <%= form_with(model: enterprise, local: true) do |f| %>
      <% if enterprise.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(enterprise.errors.count, "error") %> prohibited this item from being saved:</h2>
          <ul>
            <% enterprise.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :name, "Nome da Empresa" %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :description, "Descrição da Empresa" %>
          <%= f.text_field :description %>
        </div>
      </div>

      <div class="actions center">
        <% if enterprise.new_record? %>
          <%= f.submit "Cadastrar", class:"waves-effect waves-light btn blue-grey darken-1" %>
        <% else %>
          <%= f.submit "Atualizar", class:"waves-effect waves-light btn blue-grey darken-1" %>
        <% end %>
      </div>
  <% end %>
  </div>
</div>