<%# <p id="notice"><%= notice %>
<div class="card">
        <div class="card-content">
  <table class="responsive-table highlight">
  <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @enterprises.each do |enterprise| %>
        <%# <tr data-link="enterprises/<%=enterprise.id>"> %>
        <tr>
          <td><%= enterprise.name %></td>
          <td><%= enterprise.description %></td>
          <td><%= link_to 'Editar', edit_enterprise_path(enterprise) %></td>
          <td><%= link_to 'Excluir', enterprise, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="fixed-action-btn tooltipped" style="margin-bottom: 36px;">
  <%= link_to new_enterprise_path, class: "btn-floating btn-large waves-effect waves-light blue-grey darken-1", method: :get do %>
    <i id="add"class="material-icons">add</i>
  <% end %>
</div>