<%# <p id="notice"><%= notice %>

<div class="card">
  <div class="card-content">
  <table class="responsive-table highlight">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Responsável</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @secretaries.each do |secretary| %>
      <tr>
        <td><%= secretary.name %></td>
        <td><%= secretary.address %></td>
        <td><%= secretary.user.name %></td>
        <%# <td><%= link_to 'Mostrar', secretary %></td>
        <td><%= link_to 'Editar', edit_secretary_path(secretary) %></td>
        <td><%= link_to 'Excluir', secretary, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div class="fixed-action-btn tooltipped" style="margin-bottom: 36px;">
  <%= link_to new_secretary_path, class: "btn-floating btn-large waves-effect waves-light blue-grey darken-1", method: :get do %>
    <i id="add"class="material-icons">add</i>
  <% end %>
</div>