<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @output.date %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @output.datetime %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @output.quantity %>
</p>

<p>
  <strong>Item:</strong>
  <%= @output.item %>
</p>

<%= link_to 'Edit', edit_output_path(@output) %> |
<%= link_to 'Back', outputs_path %>
