<header>
    <!-- start header nav-->
    <%# <div class="navbar-fixed"> %>
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <a href="https://www.caucaia.ce.gov.br/index.php?tabela=pagina&acao=orgao&codigo=8" class="brand-logo">
                <span class="logo-text">Secretaria de Saúde de Caucaia</span>
            </a>
            <% if user_signed_in? %>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <%= link_to root_path do %>
                            <i class="material-icons left">home</i>
                            Principal
                        <% end %>
                    </li>
                    <li>
                        <%= link_to items_path do %>
                            <i class="material-icons left">toc</i>
                            Estoque
                        <% end %>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-activates="Registersdropdown">
                            <i class="material-icons left">create</i>
                            Cadastros<i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="Registersdropdown" class="dropdown-content dropdown-horizontal-list">
                            <li><%= link_to 'Item', new_item_path %></li>
                            <li><%= link_to 'Tipo de Item', types_path %></li>
                            <li><%= link_to 'Secretaria', secretaries_path %></li>
                            <li><%= link_to 'Setor', sectors_path %></li>
                            <li><%= link_to 'Empresa', enterprises_path %></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-activates="Userdropdown">
                            <i class="material-icons left">account_circle</i>
                            Conta<i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="Userdropdown" class="dropdown-content dropdown-horizontal-list">
                            <% if current_user.is_admin? %>
                            <li><%= link_to 'Usuários', users_path %></li>
                            <% end %>
                            <li><%= link_to "Editar Conta", edit_user_registration_path %></li>
                            <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </li>
                </ul>

            <% end %>
        </div>
    </nav>
    <%# </div> %>
    <!-- end header nav-->
  </header>